/*  your css code here. If applicable */
body {
	background-color:#f5f5f5;
}

.main-container {
	padding : 10px;
}
.testimonial {
	padding : 10px;
	background-color:#fff;
	border : 1px solid black;
	margin : 20px;
}

.author {
	text-align:right;
	font-style : italic;
}