/*  your css code here. If applicable */
body {
  background-color: #f5f5f5;
}

.main-container {
	padding : 50px 80px;
	background-color:#f5f5f5;
	font-family: "Georgia", serif;
}

h1 {
	margin-bottom : 20px;
}

.testimonial-container {
  padding: 10px;
  background-color: #f5f5f5;
}

.testimonial {
	padding : 20px 25px;
	background-color:#fff;
	border : 1px solid #dcdcdc;
	margin-bottom : 20px;
	line-height : 1.6;
}

.author {
	text-align:right;
	font-style : italic;
}