/*  your css code here. If applicable */
.main-container {
	padding : 30px 20px;
	background-color:#f5f;
}

h1 {
	padding : 10px;
}
.testimonial {
	padding : 10px;
	background-color:#fff;
	border : 1px solid black;
	margin : 10px;
}

.author {
	text-align:right;
	font-style : italic;
}